# Ignoring pycharm idea folder
.idea/

# Ignoring python bytecode files
*.pyc

# Ignoring MANIFEST file
MANIFEST

# Ignoring dist directory
dist/

# Ignoring build directories
build/
pythreshold.egg-info/